<!-- Admin panel template

MENU
1. Modals
	1A. News modals
		1A.i) New Article (id - addArticle)
		1A.ii) Edit Article (id - editArticle)
		1A.iii) View Article (id - viewArticle)
	1B. Diary modals
		1B.i) New Date (id - addDate)
		1B.ii) Edit Date (id - editDate)
		1B.iii) View Date (id - viewDate)
2. 

-->


<!-- 1. Modals -->
<!-- 1A. News modals -->
<!-- 1A.i) New Article (id - addArticle) -->

<div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel"> Create a new article</h4>
        	</div>
        	<form id="formAddArticle" name="addArticle" method="post" action="addArticle" enctype="multipart/form-data">
          		<div class="modal-body">
              		<h3> Title</h3>
              		<input type="text" id="articleTitle" name="articleTitle" class="form-control" placeholder="Write your short article title here"></input>
              		<h3> Text </h3>
              		<textarea class="form-control" rows="6" id="articleText" name="articleText">Write the whole article here </textarea>
              		<h3> Photo </h3>
              		<input type="file" id="articleImage" name="image"></input>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            		<button type="submit" id="btnSubmit" class="btn btn-primary">Create Article</button>
            	</div>
            </form>
        </div>
    </div>
</div>

<!-- 1A. ii) Edit Article (id - editArticle) -->

<div class="modal fade" id="editArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel">Edit article</h4>
        	</div>
        	<form id="formEditArticle" name="editArticle" method="post" action="{{'editArticle/' + currentArticle._id}}" enctype="multipart/form-data">
          		<div class="modal-body">
              		<h3>Title</h3>
              		<input type="text" id="articleTitle" name="articleTitle" class="form-control" value="{{currentArticle.news_title}}"></input>
              		<h3>Text </h3>
              		<textarea class="form-control" rows="6" id="articleText" name="articleText">{{currentArticle.news_article}}</textarea>
              		<h3>Photo </h3>
              		<input type="file" id="articleImage" name="image"></input>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            		<button type="submit" id="btnSubmit" class="btn btn-primary">Edit Article</button>
            	</div>
            </form>
        </div>
    </div>
</div>


<!-- 1A.iii) View Article (id - viewArticle) -->

<div class="modal fade" id="viewArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel">{{currentArticle.news_title}}</h4>
        	</div>
          		<div class="modal-body">
              		<p>{{currentArticle.news_article}}</p>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
            </form>
        </div>
    </div>
</div>

<!-- 1B. Diary modals -->
<!-- 1B.i) New Date (id - addDate) -->

<div class="modal fade" id="addDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel"> Create a new date</h4>
        	</div>
        	<form id="formAddDate" name="addDate" method="post" action="addDate">
          		<div class="modal-body">
              		<h3>Event Name</h3>
              		<input type="text" id="dateTitle" name="dateTitle" class="form-control"></input>
              		<h3>Event Description</h3>
              		<textarea class="form-control" rows="6" id="dateDescription" name="dateDescription" placeholder="Describe your event here"></textarea>
              		<h3>Location</h3>
              		<input type="text" id="dateLocation" name="dateLocation" class="form-control"></input>
              		<h3>Date</h3>
              		<p class="input-group">
              			<input type="text" class="form-control" name="dateStartDate" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
              			<span class="input-group-btn">
              				<button type="button"class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              		</span>
	              		<input type="hidden" name="dateStartDay" value="{{dt.getDate()}}">
	              		<input type="hidden" name="dateStartMonth" value="{{dt.getMonth()}}">
	              		<input type="hidden" name="dateStartYear" value="{{dt.getFullYear()}}">
	              	</p>
	              	<div class="row">
		              	<div class="col-md-6">
			              	<h3>Start Time</h3>
			              	<timepicker ng-model="mystarttime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" value="{{mystarttime}}"></timepicker>
			              	<input type="hidden" name="dateStartHour" value="{{mystarttime.getHours()}}">
	              			<input type="hidden" name="dateStartMinute" value="{{mystarttime.getMinutes()}}">
			            </div>
			            <div class="col-md-6">
			              	<h3>End Time</h3>
			              	<timepicker ng-model="myendtime" name="dateEndTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" value="{{myendtime}}"></timepicker>
			              	<input type="hidden" name="dateEndHour" value="{{myendtime.getHours()}}">
	              			<input type="hidden" name="dateEndMinute" value="{{myendtime.getMinutes()}}">
			            </div>
              		</div>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            		<button type="submit" id="btnSubmit" class="btn btn-primary">Create Event</button>
            	</div>
            </form>
        </div>
    </div>
</div>

<!-- 1B.ii) Edit Date (id - editDate) -->

<div class="modal fade" id="editDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel">Change event details</h4>
        	</div>
        	<form id="formEditDate" name="editDate" method="post" action="{{'editDate/' + currentDate._id}}">
          		<div class="modal-body">
              		<h3>Event Name</h3>
              		<input type="text" id="dateTitle" name="dateTitle" class="form-control" value = "{{currentDate.diary_title}}"></input>
              		<h3>Event Description</h3>
              		<textarea class="form-control" rows="6" id="dateDescription" name="dateDescription">{{currentDate.diary_description}}</textarea>
              		<h3>Location</h3>
              		<input type="text" id="dateLocation" name="dateLocation" class="form-control" value="{{currentDate.diary_location}}"></input>
              		<h3>Date</h3>
              		<p class="input-group">
              			<input type="text" class="form-control" name="dateStartDate" datepicker-popup="dd-MMMM-yyyy" ng-model="mystarttime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" value="{{mystarttime | date: 'dd-MMMM-yyyy'}}">
              			<span class="input-group-btn">
              				<button type="button"class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              		</span>
	              		<input type="hidden" name="dateStartDay" value="{{mystarttime.getDate()}}">
	              		<input type="hidden" name="dateStartMonth" value="{{mystarttime.getMonth()}}">
	              		<input type="hidden" name="dateStartYear" value="{{mystarttime.getFullYear()}}">
	              	</p>
	              	<div class="row">
		              	<div class="col-md-6">
			              	<h3>Start Time</h3>
			              	<timepicker ng-model="mystarttime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" value="{{mystarttime}}"></timepicker>
			              	<input type="hidden" name="dateStartHour" value="{{mystarttime.getHours()}}">
	              			<input type="hidden" name="dateStartMinute" value="{{mystarttime.getMinutes()}}">
			            </div>
			            <div class="col-md-6">
			              	<h3>End Time</h3>
			              	<timepicker ng-model="myendtime" name="dateEndTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" value="{{myendtime}}"></timepicker>
			              	<input type="hidden" name="dateEndHour" value="{{myendtime.getHours()}}">
	              			<input type="hidden" name="dateEndMinute" value="{{myendtime.getMinutes()}}">
			            </div>
              		</div>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            		<button type="submit" id="btnSubmit" class="btn btn-primary">Create Event</button>
            	</div>
            </form>
        </div>
    </div>
</div>

<!-- 1B.iii) View Date (id - viewDate) -->

<div class="modal fade" id="viewDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">
  		         	<span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
                <h4 class="modal-title" id="myModalLabel">{{currentDate.diary_title}}</h4>
        	</div>
          		<div class="modal-body">
	              		<p>Event details: {{currentDate.diary_description}}</p>
	              		<p>Location: {{currentDate.diary_location}}</p>
	              		<p>Date: {{currentDate.diary_startdate | date: 'MMM, d'}}</p>
	              		<p>Time: {{currentDate.diary_startdate | date: 'H:mm'}} - {{currentDate.diary_enddate | date: 'H:mm'}}</p>
              	</div>
              	<div class="modal-footer">
            		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
            </form>
        </div>
    </div>
</div>		



<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="images/logo.gif" class="img-responsive" style="max-width:25px"></a>
	      <p class="navbar-text">St. Michael's Admin</p>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">News</a></li>
	        <li><a href="#">Diary</a></li>

	        <li><a href="#">Discounts</a></li>
	        <li><a href="#">Members</a></li>

	      </ul>
	        
	        <a href="/logout" class="btn btn-default btn-sm navbar-right navbar-btn"><span class="fa fa-lock" style="margin-right:5px"></span>Logout</a>

	    </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="container">
	
	<div class="row">
		<div class="col-md-12">
		<!-- News -->
			<accordion close-others="true">
			  	<accordion-group>
			  		<accordion-heading>
					  	<div class="row">
						    <div class="col-md-6">
							    <h3 class="panel-title">News</h3>
							</div>
							<div class="col-md-6">
							    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addArticle">Add Article</button>
							</div>
						</div>
					</accordion-heading>
			   		<div class="list-group" ng-repeat="article in news | orderBy: '-news_date'">
			   		
				   		<div class="list-group-item clearfix">
				   			<a ng-click="view_article(article)">{{article.news_title}}</a> - {{article.news_date | date:'MMM, d'}}
				   			<span class="pull-right">
				   				<!-- Single button -->
								<div class="btn-group">
								  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								    Action <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a ng-click="edit_article(article)">Edit</a></li>
								    <li><a href="/deleteArticle/{{article._id}}">Delete</a></li>
								  </ul>
								</div>
				   			</span>
				   		</div>
					</div>
			  	</accordion-group>
			
<!--
##################
Diary section
##################
-->
				<accordion-group>
					<accordion-heading>
					  	<div class="row">
						    <div class="col-md-6">
							    <h3 class="panel-title">Dates for your diary</h3>
							</div>
							<div class="col-md-6">
							    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addDate">Add Date</button>
							</div>
						</div>
					</accordion-heading>
	   				<div class="list-group" ng-repeat="date in dates">
				   		<div class="list-group-item clearfix">
				   			<a ng-click="view_date(date)">{{date.diary_title}}</a> - {{date.diary_startdate | date:'MMM, d @ H:mm'}} until {{date.diary_enddate | date:'H:mm'}}
				   			<span class="pull-right">
				   				<!-- Single button -->
								<div class="btn-group">
								  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								    Action <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a ng-click="edit_date(date)">Edit</a></li>
								    <li><a href="/delete_date/{{date._id}}">Delete</a></li>
								  </ul>
								</div>
				   			</span>
				   		</div>
					</div>
	  			</accordion-group>


<!--
##################
Members section
##################
-->

				<accordion-group>
					<accordion-heading>
					  	<div class="row">
						    <div class="col-md-6">
							    <h3 class="panel-title">Members</h3>
							</div>
							<div class="col-md-6">
							    <button class="btn btn-default pull-right">Register Member</button>
							</div>
						</div>
					</accordion-heading>
				   	<div class="list-group" ng-repeat="user in users | orderBy: 'paid_until'">
				   		<div class="list-group-item clearfix">
				   			<a href="#">{{user.first_name}} {{user.second_name}}</a>
				   			<p>Paid until: {{user.paid_until | date:'MMM dd, yyyy'}}</p>
				   			<span class="pull-right">
				   				<!-- Single button -->
								<div class="btn-group">
								  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								    Action <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="#">Edit</a></li>
								    <li><a href="#">Delete</a></li>
								  </ul>
								</div>
				   			</span>
				   		</div>
					</div>
				</accordion-group>
			</accordion>
		</div>

	</div>


</div>